/** Google Font **/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');


/** Common **/

html, body {
    margin: 0;
    padding: 0;
}
html, div, figure, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
img {
    display: block;
    outline: none;
}
img, input, textarea, button {
    border: 0;
    outline: 0;
}
a, a:hover, a:focus {
    text-decoration: none;
    outline: 0;
}
.clear {
    clear: both;
    font-size: 0;
    height: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, p, a, li, span, div, h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #666;
    font-family: 'Roboto', sans-serif;
}

/** Home Page **/
.header {
    position: relative;
    background-color: #fff;
    height: 120px;
    padding: 0px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header-fixed {
    position: fixed;
    background: #fff;
    height: 70px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
}
.header-fixed .header-menu, .header-fixed .header-language, .header-fixed .header-login, .header-fixed .social-icons-home {
    display: none;
}
.header-fixed .menu_items {
    display: block !important;
    margin-top: 10px
}
.logo a  .first-logo {
    height: 165px;
}
.logo {
    width: 40%;
    float: left;
}
.logo a {
    float: left;
}
.logo a  img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header-fixed .logo a  .first-logo {
    height: 70px;
    width: auto;
}
.second-logo {
    margin-top: 40px;
    height: 60px;
}
.header-fixed .logo a  .second-logo {
    margin-top: 20px;
    height: 40px;
}
.menu-section {
    width: 60%;
    float: left;
    z-index: 999;
}
.menu-top {
    float: right;
    margin-top: 25px;
}
.header-fixed .menu-top {
    margin-top: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.social-icons-home ul li {
    float: left;
}
.social-icons-home ul li a {
    background: url(../images/icons/home-social.png) no-repeat left 2px;
    width: 21px;
    height: 21px;
    text-indent: -9999px;
    float: left;
    margin-right: 10px;
    display: inline-block;
}
.social-icons-home ul .facebook {
    background-position: 0px 0px
}
.social-icons-home ul .twitter {
    background-position: -35px 0px;
}
.social-icons-home ul .instagram {
    background-position: -67px 0px;
}
.social-icons-home ul .facebook:hover {
    background-position: 0px -28px;
}
.social-icons-home ul .twitter:hover {
    background-position: -35px -28px;
}
.social-icons-home ul .instagram:hover {
    background-position: -67px -28px;
}
.menu-section ul li a {
    color: #000;
    font-weight: 500;
}
.menu-section ul li a:hover, .menu-section ul li .active {
    color: #38ad36;
}
.header-menu, .header-language, .header-login, .social-icons-home {
    float: right;
}
.header-menu ul li {
    float: left;
    padding-right: 30px;
}
.header-menu ul li:last-child {
    padding-right: 20px;
}
.header-menu ul li:last-child a {
    border-left: 1px solid #dadada;
    display: block;
    padding-left: 20px;
}
.header-language li {
    padding: 0px 20px;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    margin-top: 2px;
}
.header-login ul li {
    padding-left: 0px;
    float: left;
}
.header-login ul li i {
    padding-right:6px;
}
.header-login ul li:first-child > a {
    background: #fbad1a;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    color: #fff;
}
.header-login ul li:last-child > a {
    background: #23527c;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    color: #fff;
}
.header-login ul li:first-child > a:hover {
    background-color: #febb04;
}
#home {
    margin-top: 120px;
}
.newblk {
    padding: 40px 0;
    width: 100%;
}
.aboutblk {
    background: #003e6f;
    height: 410px;
}
}
.Fright {
    float: right;
}
.Fleft {
    float: left;
}
h1, h2, h3, h4  {
    font-weight: 700;
    line-height: 1.42857143;
    color: #333333;
}
.section_inner {
    position: relative;
    margin-top: -30px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.aboutblk .row > .col-md-8 {
    padding:35px 55px 0;
}
.aboutblk h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.25;
    color: #000;
}
.aboutblk h5 {
    color: #fff;
    font-size: 16px; 
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
.abt-box h5 {
    color: #88b3d6;
    font-size: 18px; 
    font-weight: 500;
    margin:15px 0 5px 0; 
}
.abt-box p {
    color: #666;
    font-size: 13px; 
    line-height: 22px;
    font-weight: 400;
}
.abt-mesg {
    background: #272c3f;
    height: 400px;
    position: relative;
}
.abt-mesg a {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.abt-mesg a:before {
    content: 'Read More';
    font-size: 15px;
    border: 2px #fff solid;
    padding: 8px 20px;
    border-radius: 40px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0px 0 0 -55px;
    z-index: 99;
    background: #fff;
    color: #fd6c00;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s 0.2s ease;
    -moz-transition: all 0.5s 0.2s ease;
    -o-transition: all 0.5s 0.2s ease;
    transition: all 0.5s 0.2s ease;
}
.abt-mesg a:hover {
    background-color: rgba(39, 44, 63,0.8);
}
.abt-mesg a:Hover:before {
    margin: -24px 0 0 -55px;
    opacity: 1;
    visibility: visible;
}
.abt-mesg:after {
    position: absolute;
    display: block;
    border-style: solid;
    border-color: transparent;
    content: '';
    bottom: -33px;
    left: 50%;
    border-top-color: #272c3f;
    margin-left: -180px;
    border-top-width: 30px;
    border-right-width: 180px;
    border-left-width: 180px;
}
.abt-mesg h4 {
    color: #fff;
    padding: 15px 25px 0px 30px;
    display: block;
    /*background: #46a5d2;*/
    font-size: 20px;
    font-weight: 500;
}
.abt-mesg p {
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    padding: 10px 10px 10px 30px;
    font-weight: 300;
}
.abt-mesg h5 {
    color: #fff;
    padding: 10px 10px 10px 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px
}

.abt-mesg h5 span {
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
}
.donate {
    height: 175px;
    background: #a1ca51;
    padding: 30px 15px 10px 15px;
}
.donate h2 {
    background: url(../images/icons/donate.png) no-repeat left 3px;
    font-size: 27px;
    font-weight: 500;
    padding: 05px 25px 0px 50px;
    color: #fff;
    margin: 0 0 10px 0;
    height: 50px;
    line-height: 50px;
}
.donate p {
    color: #fff;
    font-size: 14px;
}
.serviceblk h4 {
    color: #262c38;
    font-size: 18px;
    margin: 10px 0 5px 0;
}


.serviceblk p {
    color: #657184;
}

/*.serviceblk a {
font-size: 13px;
font-weight: bold;
letter-spacing: 1px;
padding: 7px 18px;
background: #fff;
border: 1px solid #ff6f00;
color: #ff6f00;
display: inline-block;
margin-top: 15px;
}*/


/** About **/
.about {
    background: #fff;
    padding: 70px 0;
}

.line-bottom {
    color: #202C45 ;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
    position: relative;
}
.line-bottom span {
    color: #4c583d;
    display: block;
}

.line-bottom:after {
    bottom: 0px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
    background: #4c583d;
}
.lead {
    line-height: 26px;
    margin-bottom: 10px;
}


.btn-theme {
    display: inline-block;
    margin-top: 10px;
    padding:5px 12px; 
    font-size: 11px;
    color: #fff;
    background-color: #202C45;
    border-color: #202C45;
}
.btn-theme:hover {
    color: #ccc;
}
.about p {
    font-size: 13px;
    line-height: 22px;
}
.about img {
    margin-bottom: 15px;
}
footer {
    background: #dbe6ee;
    font-size: 13px;
    padding: 10px 0;
    width:100%;
    color: #333;
    font-weight: 500;
    text-transform: uppercase;
}
footer p:first-child {
    float: left;
}
footer p:last-child {
    float: right;
}
footer p a {
    color: #333;
}
.backBlk h2 {
    font-size: 20px;
    font-weight: 800;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.backBlk a.morelink {
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;

    color: #202C45;
    border-bottom:1px #202C45 solid; 
    display: inline-block;
}
.breaking-post {
    display: inline-block;
    margin-bottom: 22px;
    width: 100%;
    vertical-align: top;
}
.breaking-post h4, .articles-post h4  {
    margin:0 0 5px 0;
}
.breaking-post h4 a, .articles-post h4 a {
    font-size: 19px;
    font-weight: 500;
    color: #000;
    text-align: left;
    line-height: 18px;
    word-spacing: 0.8px;
}
.breaking-post p, .articles-post p {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    line-height: 18px;
}
.breaking-post img {
    height: 68px;
    width: 68px;
    -o-object-fit: cover;
    object-fit: cover;
    float: left;
    margin-right: 14px;
    opacity: 0.9;
}
.articles-post span {
    margin-bottom: 6px;
    display: block;
    color: #737373;
}
.articles-post img {
    margin-bottom: 10px;
    width: 100%;    
}
.become-volunteer {
    position: relative;
    padding: 100px 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.become-volunteer .content-box {
    position: relative;
    max-width: 420px;
    margin: 0 auto;
    background: #ffffff;
    padding: 40px 40px 50px;
    text-align: center;
    border-radius: 5px;
}
.become-volunteer .content-box h2 {
    color: #292929;
    font-size: 30px;
    line-height: 1.4em;
    margin-bottom: 20px;
    font-weight: 300;
}
.become-volunteer .content-box h2 strong {
    font-size: 48px;
    font-weight: 700;
    display: block;
}
.become-volunteer .content-box .text {
    position: relative;
    margin-bottom: 30px;
}
.btn-style-five {
    position: relative;
    padding: 9px 30px;
    line-height: 28px;
    text-transform: uppercase;
    background: none;
    color: #202C45;
    letter-spacing: 0px;
    border: 2px solid #202C45;
    font-size: 14px;
    font-weight: 600;
    border-radius: 25px;
}
.serviceblk {
    padding: 70px 0;
}
.serviceblk {
    padding: 70px 0;
}
.galleryblk .mb-10 {
    padding: 0 10px
}
.galleryblk img {
    width: 100%;
    margin-bottom: 15px;
}
.serviceblk h2 {
    text-align: center; 
    font-weight: 700;
    font-size: 30px!important;
    line-height: 30px;
    color: #000;
    margin: 0px 0 10px 0;
}
.serviceblk .container > p {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #333;
    margin-bottom: 20px;
}


/*About Page */
.innerban {
    margin-top: 120px;
    width: 100%;
    height: 280px;
    background-color: #123160 !important;
}

}
.innerban.ban-about {
    background: url(../images/innerban/about.jpg) center center no-repeat;
}
.ban-activities {
    background: url(../images/innerban/activities.jpg) center center no-repeat;
}
.innerban h1 {
    width:50%;
    color: #fff;
    font-size: 35px;
    padding: 65px 0 10px 0;
    line-height: 40px;
    text-transform:uppercase;
}
.innerban h1:after {
    background: #fff;
    content: "";
    display: table;
    height: 1px;
    margin: 15px 0 15px;
    width: 12%;
}
.innerban p {
    width:50%;
    color: #eee;
    font-size:16px;
    line-height: 24px;
}
.innercontent {
    padding: 40px 0;
    background: #fff;
}
.innercontent h2 {
    text-align: left;
    margin: 0 0 20px 0;
    font-size: 20px;
    color: #252525;
    font-weight: 700;
    position: relative;
}
.innercontent h2:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0px;
    width: 40px;
    height: 3px;
    background: #fbad1a;
}
.aboutpage p {
    font-size:15px;
    line-height:26px;
    color:#666;
    margin-bottom:15px;
}
.mgb25 {
    margin-bottom: 25px !important;
}
.aboutpage  ul li {
    position: relative;
    margin-bottom: 10px;
    font-size:15px;
    line-height:26px;
}
.aboutpage  ul li::before {
    width: 2em;
    height: 1.5em;
    font-family: 'FontAwesome';
    src: url(../fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format('embedded-opentype'), url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format('woff2'), url(../fonts/fontawesome-webfont.woff?v=4.7.0) format('woff'), url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format('truetype'), url(../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format('svg');
    font-weight: normal;
    font-style: normal;
    float: left;
}
.aboutpage  ul li::before {
    content: "\f00c";
    color: #00b276;
}
.goals {
    background-color: #f4f4f4;
}


.contact-right {
    border-right: 1px solid #e1e1e1;
    padding-right: 25px;
}
.adress-section {
    margin-bottom: 20px;
    margin-left: 40px;
}
.adress-section img {
    float: left;
}
.adress-section-right {
    float: left;
    padding-left: 20px;
}
.adress-section h6 {
    color: #77c73b;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    text-transform: uppercase;
}
.adress-section p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0;
}
.adress-section a {
    color: #333;
    border-bottom: 1px #666 solid;
    padding-bottom: 1px;
}

.social-icon a {
    background: url(../images/icons/social-icons.png) no-repeat left 2px;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    float: left;
    margin-right: 20px;
    display: inline-block;
    margin-top: 5px;
    border-bottom: none;
}
.social-icon .facebook {
    background-position: 0px 0px
}
.social-icon .twitter {
    background-position: -52px 0px;
}
.social-icon .linkedin {
    background-position: -104px 0px;
}
.subtitle {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.sponsor {
    width: 500px;
    margin:15px 0;


}
.sponsor td {
    border:1px #ccc solid;
    padding:10px;
    background-color: #fcfcfc;
}
.sponsor td:last-child {
    font-weight:700;
    text-align: center;
}
.gallery li {
    width: 20%;
    float: left;
    display: block;
    padding: 10px;
    overflow: hidden;
    border:1px #eee solid;
    margin-top: -1px;
    margin-right: -1px;
}
.galimg {
    width:100%;
    height: 150px;
    overflow: hidden;
}
.gallery li a img {
    min-width:100%;
    height: 150px;
}
.gallery li a h3 {
    font-size: 15px;
    color: #262626;
    font-weight: 300!important;
    margin: 0;
    text-transform: none !important;
    background:url(../images/icons/link.jpg) right bottom no-repeat;
    padding: 0px 0 0 7px;
    height: 40px;
    line-height: 40px;
    display: block;
}

.popup-gallery a {
    width: 15%;
    float: left;
    display: block;
    padding: 10px;
    border:1px #eee solid;
    margin-right: 1%;
    margin-bottom: 1%
}
.popup-gallery a img {
    width:100%;
    height: 120px;
}
.bankDetails {
    background-color: #3c763d;
    padding: 15px;
}
.aboutpage .bankDetails ul {
    padding: 15px;
    border:2px rgba(0,0,0,0.2) dashed;
}
.aboutpage .bankDetails ul li::before {
    display: none !important;
}
.aboutpage .bankDetails ul li {
    position: relative;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 26px;
    color: #fff !important;
}
.aboutpage .bankDetails ul li span {
    font-size: 14px;
    color: #b0ceb0;
    font-weight: bold;
}
.aboutpage .bankDetails ul li h6 {
    font-size:16px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom:1px solid rgba(255,255,255,0.2);
    text-transform: uppercase;
}
.featureDivider {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px #eee solid;
}

/* Responsive CSS */
@media screen and (max-width: 1199px) and (min-width: 992px) {
    .logo a .first-logo {
        height: 140px;
    }
    .second-logo {
        height: 45px;
    }
    .menu_items li {
        padding-left: 13px;
    }
    .aboutblk h2 {
        font-size: 25px;
    }
    .abt-mesg p {
        font-size: 15px;
        line-height: 28px;
    }
    .abt-mesg:after {
        bottom: -32px;
        margin-left: -152px;
        border-top-width: 30px;
        border-right-width: 150px;
        border-left-width: 150px;
    }
    .become-volunteer {
        padding: 50px 0px;
    }
    .cd-hero-slider .cd-full-width, .cd-hero-slider .cd-half-width {
        padding-left: 100px;
    }
    .adress-section {
        margin-bottom: 20px;
        margin-left: 0px;
    }
    .innerban h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 991px) {
    .cd-hero-slider {
        height: auto !important; 
    }
    .cd-full-width.left-align {
        margin-left: 30px;
    }
    .logo {
        width: 100%;
        float: left;
    }
    #home {
        padding-top: 120px;
        margin-top: 0;
    }
    .aboutblk {
        height: auto;
    }
    .abt-mesg {
        padding-bottom: 20px;
        height: auto;
    }
    .abt-mesg:after {
        display: none;
    }
    .serviceblk  a {
        margin-bottom: 20px;
    }
    .serviceblk {
        padding: 30px 0 10px 0;
    }
    .galleryblk {
        clear: both;
        margin-top: 20px;
    }

    .galleryblk .col-sm-3 {
        width: 20%;
    }
    .innerban h1 {
        width: 100%;
        font-size: 20px;
    }
    .innerban p {
        width: 100%;
    }
    .innerban {
        margin-top: 0;
        padding-top: 120px;
        height: auto;
        padding-bottom: 20px;

    }
}
@media screen and (max-width: 990px) {
    .ban-activities {
        background: #123160 !important;
    }
    .gallery li, .popup-gallery a {
        width: 32%;
    }
    .popup-gallery a img {
        height: 160px;
    }
    .aboutblk .row > .col-md-8 {
        padding: 25px 30px ;
    }
}

@media screen and (max-width: 500px) {
    .header {
        position: fixed;
        background: #fff;
        height: 70px;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
    }
    #home {
        padding-top: 60px;
    }
    .logo a .first-logo {
        height: 70px;
        width: auto;
    }
    .logo a .second-logo, .header-fixed .logo a  .second-logo {
        margin-top: 22px;
        height: 35px;
    }
    .aboutblk h2 {
        font-size: 16px;
        line-height: 26px;
    }
    .section_inner {
        position: relative;
        margin-top: 15px;
    }
    .cd-hero ul li img {
        width: 100%;
        height: 180px !important;
    }
    .cd-slider-nav {
        display: none
    }
    .title-bg-small,#main-slide h2, #main-slide h3 {
        display: none !important;
    }
    #burgernav {
        top: 38px;
    }
    .breaking-post h4 a, .articles-post h4 a {
        font-size: 16px;
    }
    .breaking-post p, .articles-post p {
        font-size: 13px;
        line-height: 16px;
    }
    .galleryblk .col-sm-3 {
        width: 33%;
    }
    footer p:first-child {
        float: left;
        font-size: 12px;
    }
    footer p a {
        font-size: 12px;
    }
    footer p:last-child {
        float: left;
    }
    .innerban {
        padding-top: 30px;
    }
    .innerban p {
        font-size: 13px;
        line-height: 20px;
    }
    .adress-section {
        margin-bottom: 20px;
        margin-left: 0px;
    }
    .adress-section img {
        float: left;
        width: 25px;
    }
    .adress-section-right {
        width: calc(100% - 30px);
    }
    .adress-section p {
        font-size: 13px;
        line-height: 19px;
    }
    .contact-right {
        border-right: none;
        padding-right:0px;
    }
    .gallery li {
        width: 100%;
    }
    .popup-gallery a {
        width: 49%;
    }
    .popup-gallery a img {
        height: 120px;
    }
    .sponsor {
        width: 100% ;
    }
    .aboutpage .bankDetails ul li h6 {
        font-size: 13px;
    }
    .aboutpage .bankDetails ul li span {
        font-size: 12px;
    }
    .innerban h1 {
        width: 100%;
        font-size: 16px;
    }
    .innerban h1:after {
        margin: 5px 0 5px;
    }
}